body
{
    background: #ededed;
}

.sensor-data
{
    display: inline-block;
    width: 300px;
    height: 300px;
    border: #DEDEDE;
    background: #ddd;
    border-radius:9999px;
    text-align: center;
    line-height: 300px;
    font-size: 50px;
}

.circle
{
    -webkit-transition: .1s all ease-in-out;
    -o-transition: .1s all ease-in-out;
    transition: .1s all ease-in-out;
    -webkit-transform: scale(1);
    border:999px solid #ddd;
}

.circle:hover
{
    -webkit-transform: scale(4);
    transform: scale(4);
}